<div data-role="header">
<%= link_to 'Delete', @link, :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>  
<h1>Editing Countdown</h1>
</div>
 
<div data-role="content">
  <%= render 'form' %>
</div>