
<div data-role="header">
  <h1>Listing posts</h1>
<%= link_to 'Add', new_list_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>
 
<div data-role="content">
  <ul data-role="listview">
    <% @lists.each do |list| %>
    <li>
      <%= link_to list.title, list %>
      <%= link_to 'edit countdown', edit_list_path(list), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>


