<div data-role="header">
  <h1>Popular Countdowns</h1>
</div>
<div data-role="content">
 <ul data-role="listview" data-dividertheme="e">   
<% @lists.each do |list| %>     
		<li><a href="<%= list.link %>" rel="external" data-ajax="false"><%= list.title %> 
	    <p class="ui-li-aside"><strong><%= list.date%></strong></p></a> 
<% end %> 	
	</li>
   </ul>
</div>
<script>

$("li").click(function(){
     window.location=$(this).find("a").attr("href");
     return false;
});

</script>


