
 <ul data-role="listview" data-dividertheme="e">
<% @lists.each do |list| %>    
    <li><a href="<%= list.link %>" rel="external"><%= list.title %></a>  
	    <p class="ui-li-aside"><strong><%= list.date%></strong></p>
	
	</li>
<% end %> 
   </ul>

