<div class="slider">
<a class="backward">prev</a>

<!-- container for the slides -->
<div class="images">

	<!-- first slide -->
	<div>
		<h3>Tminus App</h3>

		<img src="../images/iphonecover.png" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />

		<p style="font-weight:bold">

			Keep Timers simple
		</p>

		<p clas="co_font">
			Create a list of timers and share your favorite countdowns with friends and family. Tminus allows you to create as many countdowns for all the special upcoming events in your life. 
			</br></br><img src="../images/icon.png" > Download T- in the appstore now.</img>
		</p>

	</div>

	<!-- second slide -->
	<div>

		<h3>Create</h3>


		<img src="../images/iphonecoverb.png" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />

		<p style="font-weight:bold">
			Creating timers is easy...
		</p>

		<p>
			Create and customize each one of your countdowns with a fun background and set alerts for when your events begin. 
		</p>

	</div>

	<!-- third slide -->
	<div>
		<h3>Share</h3>
			<img src="../images/iphonecoverc.png" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />
		<p style="font-weight:bold">
			Share your countdowns with the world.
		</p>

		<p>
			After you create your timer easily share it with friends, family, or on twitter. 
		</p>
	</div>

</div>

<!-- "next slide" button -->
<a class="forward">next</a><p>

<!-- the tabs -->
<div class="slidetabs">
	<a href="#"></a>

	<a href="#"></a>
	<a href="#"></a>
</div>

</div>











<script language="JavaScript">
// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
$(function() {

$(".slidetabs").tabs(".images > div", {

	// enable "cross-fading" effect
	effect: 'fade',
	fadeOutSpeed: "slow",

	// start from the beginning after the last tab
	rotate: true

// use the slideshow plugin. It accepts its own configuration
}).slideshow();
});

    $(document).ready(function(){
      $(".tweet").tweet({
        username: "uncarbonatedsw",
        join_text: "auto",
        avatar_size: 32,
        count: 3,
        auto_join_text_default: "we said,",
        auto_join_text_ed: "we",
        auto_join_text_ing: "we were",
        auto_join_text_reply: "we replied to",
        auto_join_text_url: "we were checking out",
        loading_text: "loading tweets..."
      });
    });

</script>
