<div class="slider">
<a class="backward">prev</a>

<!-- container for the slides -->
<div class="images">

	<!-- first slide -->
	<div>
		<h3>tminus app</h3>

		<img src="../images/iphonecover.png" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />

		<p style="font-weight:bold">

			Share the Anticipation
		</p>

		<p clas="co_font">
		Keep a list of all the events you are looking forward to. tminus tells you exactly how long you have to wait and lets your friends share in the anticipation. Count down to anything and everything! 
			</br></br><img src="../images/icon.png" > Download tminus in the appstore now.</img>
		</p>

	</div>

	<!-- second slide -->
	<div>

		<h3>Create</h3>


		<img src="../images/iphonecoverb.png" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />

		<p style="font-weight:bold">
			Creating timers is easy...
		</p>

		<p>
			Create and customize each of your countdowns with a fun background and set alerts for when your events begin. 
		</p>

	</div>

	<!-- third slide -->
	<div>
		<h3>Share</h3>
			<img src="../images/iphonecoverc.png" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />
		<p style="font-weight:bold">
			Share your countdowns with the world.
		</p>

		<p>
			After you create your countdown, tminus lets you share it with friends, family, or the whole world.
		</p>
	</div>

</div>

<!-- "next slide" button -->
<a class="forward">next</a><p>

<!-- the tabs -->
<div class="slidetabs">
	<a href="#"></a>

	<a href="#"></a>
	<a href="#"></a>
</div>

</div>











<script language="JavaScript">
// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
$(function() {

$(".slidetabs").tabs(".images > div", {

	// enable "cross-fading" effect
	effect: 'fade',
	fadeOutSpeed: "slow",

	// start from the beginning after the last tab
	rotate: true

// use the slideshow plugin. It accepts its own configuration
}).slideshow();
});

    $(document).ready(function(){
      $(".tweet").tweet({
        username: "uncarbonatedsw",
        join_text: "auto",
        avatar_size: 32,
        count: 3,
        auto_join_text_default: "we said,",
        auto_join_text_ed: "we",
        auto_join_text_ing: "we were",
        auto_join_text_reply: "we replied to",
        auto_join_text_url: "we were checking out",
        loading_text: "loading tweets..."
      });
    });

</script>
