<div class="slider">
<a class="backward">prev</a>

<!-- container for the slides -->
<div class="images">

	<!-- first slide -->
	<div>
		<h3>tminus app</h3>

		<img src="../images/iphonecover.png" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />

		<p style="font-weight:bold">

			Share the Anticipation
		</p>

		<p clas="co_font">
		Keep a list of all the events you are looking forward to. tminus tells you exactly how long you have to wait and lets your friends share in the anticipation. Count down to anything and everything! 
			</br></br><img src="../images/icon.png" > Download tminus in the appstore now.</img>
		</p>

	</div>

	<!-- second slide -->
	<div>

		<h3>Create</h3>


		<img src="../images/iphonecoverb.png" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />

		<p style="font-weight:bold">
			Creating timers is easy...
		</p>

		<p>
			Create and customize each of your countdowns with a fun background and set alerts for when your events begin. 
		</p>
		<p>In the opening scene of Back to the Future Marty McFly sees dozens of clocks at Doc Brown's home. Let's face it, that was awesome. Now with tminus you can have dozens of clocks, you can go into the future, you can go back in time, and you can hate manure. What? You already hated manure? Well tminus allows you to continue hating manure while anticipating or reminiscing about special events.</p>

		<p>You can also use tminus ironically. For example:</br></br>
		*tminus 3 years until so-and-so beats    you at golf.</br>

		*tminus 8 months until your husband beats you at words with friends.</br>

		*tminus 2 months since your coworker wore a clean shirt.</br>

		*tminus 2 minutes until Chuck Norris roundhouse kicks you in the face.</br></br>

		The possibilities are endless.</br>
		</p>

	</div>

	<!-- third slide -->
	<div>
		<h3>Share</h3>
			<img src="../images/iphonecoverc.png" alt="Flying screens" style="float:left;margin:0 30px 20px 0" />
		<p style="font-weight:bold">
			Share your countdowns with the world.
		</p>

		<p>
			After you create your countdown, tminus lets you share it with friends, family, or the whole world.
		</p>
		
		<p>"Clocks slay time... time is dead as long as it is being clicked off by little wheels; only when the clock stops does time come to life."</br></br>
		<b> - William Faulkner</b></p>

		<p>With all due respect to Mr. Faulkner, tminus didn't exist in his day. With the new tminus countdowns, time is alive!</p>
	</div>

</div>

<!-- "next slide" button -->
<a class="forward">next</a><p>

<!-- the tabs -->
<div class="slidetabs">
	<a href="#"></a>

	<a href="#"></a>
	<a href="#"></a>
</div>

</div>











<script language="JavaScript">
// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
$(function() {

$(".slidetabs").tabs(".images > div", {

	// enable "cross-fading" effect
	effect: 'fade',
	fadeOutSpeed: "slow",

	// start from the beginning after the last tab
	rotate: true

// use the slideshow plugin. It accepts its own configuration
}).slideshow();
});

    $(document).ready(function(){
      $(".tweet").tweet({
        username: "uncarbonatedsw",
        join_text: "auto",
        avatar_size: 42,
        count: 3,
        auto_join_text_default: "we said,",
        auto_join_text_ed: "we",
        auto_join_text_ing: "we were",
        auto_join_text_reply: "we replied to",
        auto_join_text_url: "we were checking out",
        loading_text: "loading tweets..."
      });
    });

</script>
