<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
 <p>
<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Reason:</b>
  <%= @contact.reason %>
</p>



<p>
  <b>Info:</b>
  <%= @contact.body %>
</p>
<br />


</body>

</html>